@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper-container {
    @apply max-w-7xl mx-auto px-2
  }
}

.dark {
  background-color: #121212;
  color: #fff;
}

#navbar {
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

#navbar.fixed {
  background-color: #121212;
  box-shadow: 0 2px 4px #121212;
}

body {
  background-image: url('https://cdn.wallpapersafari.com/66/78/ZIeYmL.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: fit-content;
}